{{> header}}
{{!-- details go here --}}

<div class="row form-layout p-5">
    <div class="col-md-12">
        <div class="recepieInfo">
            <div class="detailsFoodImage">
                <img src={{item.foodImageURL}}
                    alt="">
            </div>

            <div class="infoPack">
                <h3 class="my-3">{{item.meal}}</h3>
                <p class="prep-method">{{item.prepMethod}}</p>
                <p class="description">{{item.description}}</p>
            </div>
            <div class="actions">
                {{#if isCreator}}
                <a class="btn btn-danger" href="#/details/{{id}}/delete">Archive</a>
                <a class="btn btn-info" href="#/details/{{id}}/edit">Edit</a>
                {{else}}
                <a class="btn btn-success" href="#/details/{{id}}/manipulateItem"> {{item.subscribers}} likes</a>
                {{/if}}
            </div>
        </div>

        <div class="detailsIngredients">
            <h3 class="my-3 ingredient">Ingredients</h3>
            <ul>
                {{#each item.ingredients}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
{{> footer }}